.info {
  padding: 10px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info .heading {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  line-height: 18px;
  color: #555;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

body {
  margin: 0;
}

.d-flex {
  display: flex !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fs-4 {
  font-size: calc(1.275rem + 0.3vw) !important;
}

@media (min-width: 1200px) {
  .fs-4 {
    font-size: 1.5rem !important;
  }
}

.fs-5 {
  font-size: 1.25rem !important;
}

.fs-6 {
  font-size: 1rem !important;
}

.leaflet-tooltip {
  background-color: transparent !important;
  border: transparent !important;
  box-shadow: none !important;
}

.text-bluegrass {
  color: #009681 !important;
}
